[init]
    defaultBranch = main

[core]
    editor = nvim
    excludesFile = ~/.gitignore
    fsmonitor = false

[column]
    ui = auto

[tag]
    sort = version:refname

[user]
    name = Danh Phan
    email = input@danh.computer
    signingkey = F6057C43

[github]
    user = ibokuri

[gpg]
    program = gpg2

[credential]
    helper = osxkeychain

[sendemail]
    smtpencryption = tls
    smtpserver = smtp.gmail.com
    smtpuser = input@danh.computer
    smtpserverport = 587
    chainreplyto = false
    aliasesfile = $HOME/.gitaliases
    aliasfiletype = mailrc

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[branch]
  autosetuprebase = always
  sort = -committerdate

[commit]
    gpgsign = true

[push]
    default = simple
    autoSetupRemote = true
    followTags = true

[pull]
    ff = only

[rebase]
    autosquash = true
    autostash = true

[diff]
    algorithm = histogram
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true

[help]
    autocorrect = prompt

[fetch]
    prune = true
    pruneTags = true
    all = true
	writeCommitGraph = true

[diff]
    tool = difftastic
    external = difft

[difftool]
    prompt = false

[difftool "difftastic"]
    cmd = difft "$LOCAL" "$REMOTE"

[pager]
    difftool = true
