[alias]
  prettylog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative

[branch]
  autosetuprebase = always

[color]
	ui = true

[commit]
	gpgsign = true

[core]
    editor = nvim
	excludesfile = /Users/jason/.gitignore

[credential]
	helper = osxkeychain

[difftool]
	prompt = false

[github]
	user = ibokuri

[gpg]
	program = gpg2

[init]
	defaultBranch = main

[push]
	default = tracking

[pull]
    rebase = true

[sendemail]
	smtpencryption = tls
	smtpserver = smtp.gmail.com
	smtpuser = jason@ket.so
	smtpserverport = 587
	chainreplyto = false
	aliasesfile = /Users/jason/.gitaliases
	aliasfiletype = mailrc

[user]
	name = Jason Phan
	email = jason@ket.so
	signingkey = 7739EA0C9A4A1EF1

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
